@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

body {
    overflow: hidden;
    font-family: roboto;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
            background-attachment: fixed;
            text-align: center;
            padding: 20px
}

.header {
    overflow: hidden;
    padding: 5px 5px;
    position: fixed;
    left: 10px;
    right: 10px;
    top: 0px;
    background: rgba(220, 220, 220, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 0px;
    border-radius: 0px 0px 12px 12px;
}

.header a, .footer a {
    float: left;
    color: rgb(255, 255, 255);
    
    text-align: center;
    padding: 10px;
    margin: 0px 5px 0px 0px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 12px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    float: right;
}

.header a.active:hover, .footer a.active:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(50, 50, 50, 0.3);
    color: black;
  }
.header a.active, .footer a.active {
    background-color: rgba(50, 50, 50, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
}
.post {
    width: 70%;
    height: 500px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(50, 50, 50, 0.3);
    border-radius: 12px;
    color: rgb(255, 255, 255);
}

.footer {
    padding: 10px 10px;
    position: fixed;
    bottom: 0px;
    background: rgba(220, 220, 220, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0px;
    border-radius: 12px 12px 0px 0px;

}
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}